*{
    /*background-image: url(../images/watercolor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: moccasin;
    font-family: "Open Sans";
}

header {
    height: 100px;
}
.topnav {
    background-color:moccasin;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color:salmon;
    color: white;
  }

  .topnav a.active {
    background-color: salmon;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
.heroImg{
    height: 550px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
div.content img {
    height: auto;
    width: 50%;
}
button {
    background-color: salmon;
    border-radius: 8px;
    border-color: salmon;
    font-family: "Open Sans";
    color:white;
  }
