*{
    /*background-image: url(../images/watercolor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: moccasin;
    font-family: "Open Sans";
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}
header {
    height: 100px;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
div.logo img{
    height: 50px;
}
nav{
    width: 73%;
    padding: 1%;
}
nav.inline-block ul {
    width: 50%;
    position: absolute;
    top: 30px;
    left: 1000px;
}
nav.inline-block ul li{
    margin: 0px;
    margin-right: 100px;
}
.heroImg{
    height: 550px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
div.content img {
    height: auto;
    width: 50%;
}
footer ul li{
    margin: 0px;
    margin-right: 50px;
}
:root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
  }

  button {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    text-align: center;
    position: absolute;
    margin-left: 150px;
  }