*{
    background-color: moccasin;
    font-family: "Open Sans";
}

.myWork{
    text-align: center;
}

.flexContainer{
    display: flex;
    width: 33%;
    text-align: center;
    margin-left: 200px;
}

img{
    width: 300px;
    height: auto;
    padding: 30px;
}

  :root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
  }

  button {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    justify-content: center;
    margin-left: 75px;
  }
  .spareButton{
      margin-left: 650px;
  }